
{% extends 'pages/base/base.html' %}

{% block title %}About Me{% endblock title %}

{% block content %}
    {% load static %}
    {% include "pages/base/navbar.html" %}
    <!-- Timeline 3 - Bootstrap Brain Component -->
    <section class="bg-light py-3 py-md-5 custom-section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-11">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <h1 class="fw-bolder mb-1">About my career</h1>
                        </header>
                        <!-- Preview image figure-->
                        <!--figure class="mb-4"><img class="img-fluid rounded" src="{% static '/images/software_qa.png' %}" alt="" /></figure-->
                        <section class="mb-5">
                           <div class="fs-5 mb-4">
        <div class="custom-section">
    <ul>
        <li>Software Quality Engineering Leader with 15+ years of experience in designing and implementing automated test frameworks for mobile, web, and API applications</li>
            <li>Used Python (PyTest), Java (TestNG), and Kubernetes/Docker for seamless test execution.</li>
        <li>Expertise in Kafka-based products, REST APIs, and microservices testing using Proto messages and Page Object Model (POM).</li>
        <li>Strong background in CI/CD pipelines using GitLab CI, Jenkins, and CircleCI, with integration of Allure reports and Slack notifications.</li>
        <li>Skilled in mobile automation using Appium, XCUITest, and Espresso, and web automation using Selenium and Playwright.</li>
        <li>Experienced in creating custom web portals for test status reports using Django, Bootstrap with Render.</li>
    </ul>
</div>
                           </div>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </section>

<section class="bsb-timeline-3 bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-20 col-md-12 col-xl-10 col-xxl-9">

        <ul class="timeline">
            <li class="timeline-item right">
            <div class="timeline-body">
              <div class="timeline-content timeline-indicator">
                <div class="card border-0 shadow">
                  <div class="card-body p-xl-4">
                    <h5 class="card-subtitle text-secondary mb-1">Jan '24 - to date (Andover, MA)</h5>
                    <h3 class="card-title mb-3">Symbotic</h3>
                    <p class="card-text m-0">⏵Designed & Implemented PyTest based framework to automate API and Kafka based component tests and E2E tests</p>
                      <p class="card-text m-0">⏵Selenium and Playwright for ACS and Workstation UI E2E tests and APIs for backend tests</p>
                      <p class="card-text m-0">⏵Used FEIGN for emulation tests for Alert Console System (ACS) and Workstation projects</p>
                      <p class="card-text m-0">⏵Dev triggered pipelines to run automated tests for every merge to mainline in dev repo</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item left">
            <div class="timeline-body">
              <div class="timeline-content timeline-indicator">
                <div class="card border-0 shadow">
                  <div class="card-body p-xl-4">
                    <h5 class="card-subtitle text-secondary mb-1">Jan '22 - Dec'23 (Remote from NC)</h5>
                    <h3 class="card-title mb-3">Aspiration Inc</h3>
                    <p class="card-text m-0">⏵Test Strategy, Planning and execution for iOS and Android mobile app</p>
                      <p class="card-text m-0">⏵Framework recognized as the best in the organization</p>
                      <p class="card-text m-0">⏵Native automation, Appium, Playwright with Sauce Labs</p>
                      <p class="card-text m-0">⏵Mobile, Web, API automation implemented for the product</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item right">
            <div class="timeline-body">
              <div class="timeline-content timeline-indicator">
                <div class="card border-0 shadow">
                  <div class="card-body p-xl-4">
                    <h5 class="card-subtitle text-secondary mb-1">Dec '19 - Jan '22 (Charlotte, NC)</h5>
                    <h3 class="card-title mb-3">LendingTree</h3>
                    <p class="card-text m-0">⏵100% Automated testing of plaid/stripe implementation and credit score feature update</p>
                      <p class="card-text m-0">⏵Achieved 0% bugs leak to PROD, overall, 95% bug leak reduction</p>
                      <p class="card-text m-0">⏵Mobile UI, API tests and KAFKA events 100% automation coverage</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item left">
            <div class="timeline-body">
              <div class="timeline-content timeline-indicator">
                <div class="card border-0 shadow">
                  <div class="card-body p-xl-4">
                    <h5 class="card-subtitle text-secondary mb-1">Apr '14 - Dec '19 (Indianapolis, IN)</h5>
                    <h3 class="card-title mb-3">KAR/ADESA</h3>
                    <p class="card-text m-0">⏵Non stop automated tests on 54 different UI applications and capture UI metrics</p>
                      <p class="card-text m-0">⏵Automated tests were reporting data to CTO office on a web portal for live health checkup</p>
                      <p class="card-text m-0">⏵Mobile app automation for iOS and Android with Appium using inbuilt simulator and emulators</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="timeline-item right">
            <div class="timeline-body">
              <div class="timeline-content timeline-indicator">
                <div class="card border-0 shadow">
                  <div class="card-body p-xl-4">
                    <h5 class="card-subtitle text-secondary mb-1">July 2012 - Apr 2014 (Waltham, MA)</h5>
                    <h3 class="card-title mb-3">Kenexa (Brassring) - IBM</h3>
                    <p class="card-text m-0">⏵Worked on maintaining existing SilkTest TCL scripts and act as bi-monthly QA support engineer</p>
                      <p class="card-text m-0">⏵Migrating existing SilkTest suites to Selenium-Java POM Test Framework</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
            <li class="timeline-item left">
            <div class="timeline-body">
              <div class="timeline-content timeline-indicator">
                <div class="card border-0 shadow">
                  <div class="card-body p-xl-4">
                    <h5 class="card-subtitle text-secondary mb-1">Apr 2008 - July 2012 (Nashville, TN)</h5>
                    <h3 class="card-title mb-3">Cognizant Tech Solutions</h3>
                    <p class="card-text m-0">⏵Automation test lead and onshore SME for multiple healthcare clients
                    </p>
                      <p class="card-text m-0">⏵Converting WinRunner to QTP tests to support clinician web application </p>
                      <p class="card-text m-0">⏵Led multiple projects in manual testing and automated test solutions </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</section>

{% endblock content %}